<div id="swatch-header">
  <div class="window-controls">
    <div class="window-button close"></div>
    <div class="window-button minimize"></div>
  </div>
  <div class="title">
    Swatch
  </div>
</div>


<div class="input-holder">
  <i class="iconic" data-glyph="brush"></i>
  <input type="color" id="more-color-options">
</div>

<div id="color-wheel"></div>

<div id="color-manipulation"></div>
