<input id="alpha-control" name="alpha" 
type="range" min="0.0" max="1.0" value={{alpha}} step="0.1" />


<button class='hex'>
  HEX
</button>

<button class='rgba'>
  RGBA
</button>

<button class='hsla'>
  HSLA
</button>
